Inicialización del proyecto

In [1]:
#importación de las librerías necesarias
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [2]:
#Cargar la base de datos
df = pd.read_csv('Enfermedades_Cr_nicas_20250409.csv')
print(df.head())

   EDAD                         PLAN_BENEFICIOS  \
0    49                  PACIENTES PARTICULARES
1    49                  PACIENTES PARTICULARES
2    68  CAPITAL SALUD EPS SAS - PGP SUBSIDIADO
3    82  CAPITAL SALUD EPS SAS - PGP SUBSIDIADO
4    59  CAPITAL SALUD EPS SAS - PGP SUBSIDIADO

                                    SEDE                       NOMBRE_DIAG  \
0  CENTRO DE SALUD TIPO II SAN CRISTÓBAL  HIPERTENSION ESENCIAL (PRIMARIA)
1  CENTRO DE SALUD TIPO II SAN CRISTÓBAL  HIPERTENSION ESENCIAL (PRIMARIA)
2  CENTRO DE SALUD TIPO II SAN CRISTÓBAL  HIPERTENSION ESENCIAL (PRIMARIA)
3  CENTRO DE SALUD TIPO II SAN CRISTÓBAL  HIPERTENSION ESENCIAL (PRIMARIA)
4  CENTRO DE SALUD TIPO II SAN CRISTÓBAL  HIPERTENSION ESENCIAL (PRIMARIA)

   PESO  TALLA    IMC CARDIOVASCULAR PULMONAR NEUROLÓGICO  ... covid1 covid2  \
0  76.0    157  30.83         Normal   Normal      Normal  ...     Si     Si
1  76.0    157  30.83         Normal   Normal      Normal  ...     Si     Si
2  70.0    151  30.70         Normal   Normal      Normal  ...     Si     Si
3  51.0    142  25.29         Normal   Normal      Normal  ...     Si     Si
4  84.0    150  37.33         Normal   Normal      Normal  ...     Si     Si

  covid3    GENERO   IDENTGEN       ORIGSEX               GRUPO ETNICO  \
0     No  Femenino  Cisgénero  Heterosexual  Ninguna de las anteriores
1     No  Femenino  Cisgénero  Heterosexual  Ninguna de las anteriores
2     No  Femenino  Cisgénero  Heterosexual  Ninguna de las anteriores
3     No  Femenino  Cisgénero  Heterosexual  Ninguna de las anteriores
4     No  Femenino  Cisgénero  Heterosexual  Ninguna de las anteriores

        NIVELEDUCATIVO   TIPODISCAPAC    OCUPACION
0  14. Sin Informacion    No Presenta     COCINERA
1  14. Sin Informacion    No Presenta     COCINERA
2  14. Sin Informacion    No Presenta        HOGAR
3  14. Sin Informacion  Motora-física  AMA DE CASA
4  14. Sin Informacion    No Presenta    CONDUCTOR

[5 rows x 29 columns]

In [3]:
df.shape

(2602, 29)

In [4]:
df.describe()

              EDAD         PESO        TALLA
count  2602.000000  2602.000000  2602.000000
mean     68.269792    64.020292   150.530746
std      13.076867    17.943791    30.022547
min       6.000000     0.000000     0.000000
25%      61.000000    55.000000   149.000000
50%      69.000000    64.000000   155.000000
75%      77.000000    74.000000   161.000000
max     102.000000   175.000000   300.000000

In [5]:
df.columns.to_list()

['EDAD',
 'PLAN_BENEFICIOS',
 'SEDE',
 'NOMBRE_DIAG',
 'PESO',
 'TALLA',
 'IMC',
 'CARDIOVASCULAR',
 'PULMONAR',
 'NEUROLÓGICO',
 'MENTAL',
 'OSTEOMUSCULAR',
 'BODEX',
 'RESULTADOIMC',
 'ESCALA DISNEA',
 'RIESGO CARDIOVASCULAR',
 'EPOCCONFIRMADO',
 'CLASIFISUI',
 'DISCAPACIDAD',
 'covid1',
 'covid2',
 'covid3',
 'GENERO',
 'IDENTGEN',
 'ORIGSEX',
 'GRUPO ETNICO',
 'NIVELEDUCATIVO',
 'TIPODISCAPAC',
 'OCUPACION']

In [6]:
#valores nulos
df.isnull().sum()

EDAD                     0
PLAN_BENEFICIOS          0
SEDE                     0
NOMBRE_DIAG              0
PESO                     0
TALLA                    0
IMC                      0
CARDIOVASCULAR           0
PULMONAR                 0
NEUROLÓGICO              0
MENTAL                   0
OSTEOMUSCULAR            0
BODEX                    0
RESULTADOIMC             0
ESCALA DISNEA            0
RIESGO CARDIOVASCULAR    0
EPOCCONFIRMADO           0
CLASIFISUI               0
DISCAPACIDAD             0
covid1                   0
covid2                   0
covid3                   0
GENERO                   0
IDENTGEN                 0
ORIGSEX                  0
GRUPO ETNICO             0
NIVELEDUCATIVO           0
TIPODISCAPAC             0
OCUPACION                0
dtype: int64

In [7]:
#valores duplicados
df.nunique()

EDAD                      80
PLAN_BENEFICIOS            8
SEDE                      14
NOMBRE_DIAG              189
PESO                     214
TALLA                     66
IMC                      700
CARDIOVASCULAR             3
PULMONAR                   3
NEUROLÓGICO                3
MENTAL                     3
OSTEOMUSCULAR              3
BODEX                      1
RESULTADOIMC              10
ESCALA DISNEA              3
RIESGO CARDIOVASCULAR      1
EPOCCONFIRMADO             1
CLASIFISUI                 3
DISCAPACIDAD               2
covid1                     2
covid2                     2
covid3                     2
GENERO                     3
IDENTGEN                   3
ORIGSEX                    4
GRUPO ETNICO               5
NIVELEDUCATIVO            13
TIPODISCAPAC               8
OCUPACION                 87
dtype: int64

In [8]:
#creación del dataframe con las columnas necesarias
columns = ['EDAD','RIESGO CARDIOVASCULAR','IMC','CARDIOVASCULAR','GENERO','PESO','BODEX']
df_columns = df[columns]

print(df_columns)

      EDAD RIESGO CARDIOVASCULAR    IMC CARDIOVASCULAR    GENERO  PESO  \
0       49           RIESGO BAJO  30.83         Normal  Femenino  76.0
1       49           RIESGO BAJO  30.83         Normal  Femenino  76.0
2       68           RIESGO BAJO  30.70         Normal  Femenino  70.0
3       82           RIESGO BAJO  25.29         Normal  Femenino  51.0
4       59           RIESGO BAJO  37.33         Normal  Femenino  84.0
...    ...                   ...    ...            ...       ...   ...
2597    79           RIESGO BAJO  21.87         Normal  Femenino  61.0
2598    79           RIESGO BAJO  21.87         Normal  Femenino  61.0
2599    54           RIESGO BAJO  21.37         Normal  Femenino  52.0
2600    54           RIESGO BAJO  21.37         Normal  Femenino  52.0
2601    54           RIESGO BAJO  21.37         Normal  Femenino  52.0

         BODEX
0     MODERADA
1     MODERADA
2     MODERADA
3     MODERADA
4     MODERADA
...        ...
2597  MODERADA
2598  MODERADA
2599  MODERADA
2600  MODERADA
2601  MODERADA

[2602 rows x 7 columns]